<div style='width: 800px;'>
	<div id="map" style='width: 800px; height: 400px;'></div>
</div>
<button onclick="yo()">Click Karo Khush Raho</button>
<script>
	function yo() {
		handler = Gmaps.build('Google');
		handler.buildMap({ internal: {id: 'map'}}, function(){
			markers = handler.addMarkers([
			<% @locations.each do |location| %>
			{
				"lat": <%= location.latitude %>,
				"lng": <%= location.longitude %>,
				"infowindow": "<%= location.message%>"
			},
			<% end %>
			{
				"lat": 30,
				"lng": 40,
				"infowindow": "hello!2"
			},
			{
				"lat": 0,
				"lng": 0,
				"picture": {
					"url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
					"width":  36,
					"height": 36
				},
				"infowindow": "hello!"
			}		
			]);
		});
	}
	function mo () {
		handler = Gmaps.build('Google');
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
			markers = handler.addMarkers([
			{
				"lat": 0,
				"lng": 0,
				"picture": {
					"url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
					"width":  36,
					"height": 36
				},
				"infowindow": "hello!"
			}
			]);
			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
		});
	}
</script>
